$mini: normal 11px/13px "Raleway", sans-serif;
$wine: #b20000;
$wine-hover:#720000;
$rosewine:#F0C2C9;/* #f0c2c9 , #ffdbe1 */
$whtwine:#FBF7EF;
$midnight:#395061;
$silkynight: #5a6e7e;
$nightShadow: rgba(53, 63, 76, 0.95);/* 모달창 색상 */

$shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

$normal: #707070;
$beauty: "Raleway", sans-serif !important;


/* TODO: 본문글씨 공통클래스 */

/* @include translateY-50;
    position: absolute;top: 50%; */

    /* #1a1b1b
#444 
#b20000 wine
#F0C2C9 wht wine
#720000 wine:hover */


/* #262A2D midnight */
/* #FBF7EF (251,247,239) */







/* https://codepen.io/g1eb/pen/MpXQZN dash-array */
/* 초중고 섹션 30px 로 apis 따라하기 */

/* 말줄임표 (line-clamp) */


// https://codepen.io/ReGGae/pen/EEwrRp
// 드래그 슬라이더

// example.html .css
// 한개만 위로 올라가는 슬라이더 

//https://www.youtube.com/watch?v=uPhWSyRqQDA
//GOOGLE MAP API

