@charset "utf-8";
@import "_var", "_mixin", "_function";


.videoCtrl {
  width: 48px;
  height: 48px;
  position: relative;
  right: 10px;

  #play-button,
  #pause-button {
    position: absolute;
    width: 2.6875rem;
    height: 2.6875rem;
    border-radius: 50%;
  }

  #play-button {
    background: $midnight url(../images/SVG/play.svg) no-repeat 100% / cover;
    visibility: hidden;
    @include transition(all 0.3s)
  }

  #pause-button {
    background: $midnight url(../images/SVG/pause.svg) no-repeat 100% / cover;
    @include transition(all 0.2s)
  }

  #play-button:hover,
  #pause-button:hover,
  #play-button:focus,
  #pause-button:focus {
    background-color: $silkynight;
  }

}

.explr {
  display: block;
  position: absolute;

  left: 0;
  right: 0;
  bottom: 50px;
  margin: 0 auto;

  z-index: 3;

  width: 80px;
  height: 72px;
  background: url(../images/SVG/explr.svg) no-repeat 100% / cover;

  @include transition (all 0.5s);

  letter-spacing: 2.5px;
  line-height: 25px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #fff !important;



  @include animation (upNdown 2s linear infinite both);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */


}

